# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
.env
*.egg-info/
dist/
build/

# Environment / Secrets
.env
.env.local
.env.*.local
.xcconfig

# OS
.DS_Store
.DS_Store?
Thumbs.db
desktop.ini

# IDE
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Logs
*.log
uvicorn.log

# Misc
*.pyc
.cache/

# Xcode
DerivedData/
build/
*.xcuserdata/
*.xcuserstate

# CocoaPods
Pods/

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

model/*
wandb/*